{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "macros/task-card.njk" import taskCard %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Task List</h1>

    {% if tasks.length == 0 %}
      {{ govukInsetText({
        html: 'No tasks found. <a href="/tasks/create" class="govuk-link">Create your first task</a>.'
      }) }}
    {% else %}
    <p class="govuk-body">Showing {{ tasks.length }} task{{ 's' if tasks.length != 1 else '' }}</p>

    <div class="govuk-button-group govuk-!-margin-bottom-6">
      {{ govukButton({
        text: "Create New Task",
        href: "/tasks/create"
      }) }}
    </div>

    {% for task in tasks %}
      {{ taskCard(task) }}
    {% endfor %}

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/tasks/create" class="govuk-link">Create another task</a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
