{% extends "template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ pageTitle }} - HMCTS Case Management System
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {{ govukInsetText({
        html: '<strong>Email:</strong> ' + email
      }) }}

      <p class="govuk-body">
        Enter your password to complete sign in.
      </p>

      <form method="post" action="/auth/authenticate" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukInput({
          label: {
            text: "Password",
            classes: "govuk-label--m"
          },
          id: "password",
          name: "password",
          type: "password",
          autocomplete: "current-password",
          errorMessage: {
            text: errors[0].text
          } if errors.length > 0 else undefined,
          classes: "govuk-!-width-two-thirds"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Sign in",
            type: "submit"
          }) }}

          <button type="submit" formaction="/auth/back-to-email" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Change email
          </button>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
