{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro taskCard(task) %}
  <div class="govuk-body govuk-!-display-block govuk-!-margin-top-6 govuk-!-padding-4" style="border-left: 4px solid 
    {% if task.overdue %}#d4351c
    {% elif task.dueToday %}#f47738
    {% elif task.status == 'COMPLETED' %}#00703c
    {% else %}#1d70b8
    {% endif %}; background-color: #f3f2f1;">

    <div class="govuk-!-margin-bottom-3">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ task.title }}</h3>
      <div class="govuk-task-list__status">
        <strong class="govuk-tag
          {% if task.status == 'PENDING' %}govuk-tag--blue
          {% elif task.status == 'IN_PROGRESS' %}govuk-tag--yellow
          {% elif task.status == 'COMPLETED' %}govuk-tag--green
          {% elif task.status == 'CANCELLED' %}govuk-tag--grey
          {% endif %} govuk-!-margin-right-2">
          {{ task.statusDisplayName }}
        </strong>
        {% if task.overdue %}
          <strong class="govuk-tag govuk-tag--red govuk-!-margin-right-2">Overdue</strong>
        {% elif task.dueToday %}
          <strong class="govuk-tag govuk-tag--orange govuk-!-margin-right-2">Due Today</strong>
        {% endif %}
        {% if task.overdue %}
          <strong class="govuk-tag govuk-tag--red">Priority: High</strong>
        {% elif task.dueToday %}
          <strong class="govuk-tag govuk-tag--orange">Priority: Medium</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey">Priority: Normal</strong>
        {% endif %}
      </div>
    </div>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Description</th>
          <td class="govuk-table__cell">
            {% if task.description %}
              {{ task.description }}
            {% else %}
              <span class="govuk-hint">No description provided</span>
            {% endif %}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Due Date</th>
          <td class="govuk-table__cell">
            {{ task.dueDateTime | replace('T', ' ') }}
            {% if not task.overdue and not task.dueToday %}
              <br><span class="govuk-hint govuk-!-font-size-14">{{ task.hoursUntilDue }}h remaining</span>
            {% endif %}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Time Status</th>
          <td class="govuk-table__cell">
            {% if task.overdue %}
              <strong class="govuk-error-message govuk-!-margin-bottom-0">
                <span class="govuk-visually-hidden">Warning</span>
                Task is overdue!
              </strong>
            {% elif task.dueToday %}
              <strong class="govuk-warning-text__text govuk-!-margin-bottom-0">
                <span class="govuk-visually-hidden">Warning</span>
                Due today - urgent action needed
              </strong>
            {% else %}
              <span class="govuk-hint">{{ task.hoursUntilDue }} hours until due</span>
            {% endif %}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Created At</th>
          <td class="govuk-table__cell">{{ task.createdAt | replace('T', ' at ') }}</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-button-group govuk-!-margin-top-4">
      <a href="/tasks/{{ task.id }}/edit" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Edit Task
      </a>
      <a href="/tasks/{{ task.id }}/delete" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button" onclick="return confirm('Are you sure you want to delete this task?');">
        Delete Task
      </a>
    </div>
  </div>
{% endmacro %}
